body{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-color: rgb(43, 41, 41);
}

.container1{
    /* display: flex; */
    /* justify-content: center; */
    /* background-color: rgb(53, 52, 52); */
    height: 100%;
    width: 60%;
    /* border: 2px solid red; */
    color: #ffff;
}

.container2{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff79;
    height: 100%;
    color: rgb(255, 255, 255);
}
.innern{
    margin:3rem;
}
#btn1{
    width: 9rem;
}


@media (max-width:900px){
    .container{
        width: 100%;
    }
    .container2{
        flex-wrap: wrap;
    }
    .listcontainer{
        /* border: 2px solid red; */
        /* margin-top: -27px; */
    }
    .listcontainer ul{
        /* margin-left: 0px; */
    }
    .innern{
        margin-bottom: 0px;
    }
    #btn1{
        width: 5rem;
    }
}
.list{
    list-style: none;
}